.App {
  background-color: tomato;
  height: 100vh;
  width: 100vw;
}

.SearchBar input, .SearchBar input::placeholder, .AddBar input, .AddBar input::placeholder {
  background-color: pink;
  color: brown;
  border-color: darksalmon;
}

.SearchBar button, .AddBar button {
  color: darksalmon;
  background-color: brown;
}